<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="Card-Site-URL" value="https://www.db.yugioh-card.com/yugiohdb/card_list.action" />
		<add key="Base-URL" value="https://www.db.yugioh-card.com/" />
		<add key="BoosterPackCacheData" value="BoosterPackList.txt" />
		<add key="BoosterPackNameUrlData" value="PackNameUrlMap.json" />
		<add key="CardImageFolder" value="" />
		<add key="BoosterPackCardDataJsonFile" value="BoosterPackCardData.json" />
	</appSettings>	
</configuration>